.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  width: 100vw;
}

.home__container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.home__container > h1 {
  margin: 10px;
  font-size: 50px;
}

.home__container > h2 {
  font-size: 30px;
  color: var(--main-color);
  font-family: "Anton", sans-serif;
}

.home__container > h4 {
  color: white;

  margin-top: 10px;
}

.home > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-top: 20px;
  border-radius: 999px;
}

.home > button {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  margin-top: 20px;
  width: 200px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

.home > button:hover {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 800px) {
  .home {
    height: 100vh;
  }
  .home__container {
    margin-top: -10px;
  }
  .home__container > h2 {
    font-size: 20px;
  }

  .home__container > h1 {
    font-size: 40px;
  }
  .home > img {
    height: 150px;
  }
}
